<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Titanic</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Titanic</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
  </div>
  <div class="container-fluid">
    <select id="selIris" onchange="optionChanged(this.value)">
      <option value="all">All</option>
      <option value="Iris-setosa">Iris-setosa</option>
      <option value="Iris-versicolor">Iris-versicolor</option>
      <option value="Iris-virginica">Iris-virginica</option>
    </select>

    <div id="hist"></div>
  </div>
</body>

</html>