<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Titanic</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="top-bar jumbotron text-center">
      <h1>Titanic Data Analysis</h1>
    </div>
    <div class="row header-row">
      Passenger Ages by Class
    </div>
    <div class="container-fluid">
      <div>Select Passenger Class
        <select id="selectionAges">
          <option value="all">All</option>
          <option value="1st">1st Class</option>
          <option value="2nd">2nd Class</option>
          <option value="3rd">3rd Class</option>
        </select>
      </div>
      <div id="hist-passenger"></div>
    </div>
    <div class="row header-row">
      Passenger Survival by Class
    </div>
    <div class="container-fluid">
      <div>Select Passenger Class
        <select id="selectionSurvival">
          <option value="all">All</option>
          <option value="1st">1st Class</option>
          <option value="2nd">2nd Class</option>
          <option value="3rd">3rd Class</option>
        </select>
      </div>
      <div id="bar-passenger"></div>
    </div>
    <div class="row header-row">
      Passenger Survival by Class and Gender
    </div>
    <div class="container-fluid">
      <div id="pie-passenger"></div>
    </div>
    <div class="row header-row">
      Passenger Survival by Age and Gender
    </div>
    <div class="container-fluid">
      <div id="boxplot-passenger"></div>
    </div>
  </div>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/visuals.js"></script>
</body>

</html>